body {
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*-------------------
      head style
  -------------------*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 1200px;
    margin: auto;
    padding: 1rem;
    padding-bottom: 7rem;
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    color: white;
    background-color: rgba(0, 0, 0, 0.932);
    padding: 48px;
    border-radius: 15px;

}


.introduction img {
    width: 100%;
}

.introduction h1 {
    margin-top: 80px;
}

.introduction p {
    font-size: 14px;

}

.live-btn {
    border: none;
    background-color: black;
    color: lightgray;
    border-radius: 8px;
    padding: 10px;
    margin-top: 30px;
}

.fa-angle-right {
    margin-left: 5px;
    color: gray;
}

/*-------------------
     Blogs Section 
---------------------*/
/* -------------
     menu 
---------------*/
.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.932);
    width: 21%;
    height: 150px;
    padding: 40px;
    border-radius: 8px;
    gap: 10px;

}

.blog-btn {
    text-decoration: none;
    color: black;
    border-radius: 6px;
    background-color: whitesmoke;
    padding: 5px;
    width: 100%;
    text-align: center;
    margin: 0%;
    font-size: 17px;
    font-weight: bolder;

}

.blog-btn:hover {
    background-color: red;
}

/*----------------
       Blogs
------------------- */
.blog-section {
    display: flex;
    gap: 15px;
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}


.card {
    box-shadow: 1px 1px 15px 1px;
    border-radius: 8px;
    /* width: 28%;
    height: 450px; */
}

.blog-img img {
    width: 100%;
    height: 10rem;
}

.context-btn {
    border: none;
    background-color: burlywood;
    padding: 10px;
    margin-left: 10px;
}

.context-btn a {
    text-decoration: none;
    color: aqua;
}

.container h4 {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10x;
}

.context-time {
    display: flex;
}

.comment {
    display: flex;
}

/*-------------------------
      Upcoming Matches
--------------------------- */
.upcoming-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;

}

.upcoming-matches .card {
    height: 16rem;
}

#width {
    width: 305px;
}

.match-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 1rem;
    padding: 2rem;
}

.match-info p,
h4 {
    text-align: center;

}


/*------------------- 
        Footer
----------------- */
footer {
    background-color: #000;
    padding: 5rem;
    padding-bottom: 2rem;
}

.final {
    padding: 0.5rem;
}

.footer-title {
    color: rgb(187, 44, 80);
    text-align: center;
    font-size: 42px;
    padding-bottom: 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu a {
    color: rgba(196, 49, 49, 0.74);
    text-decoration: none;
    margin: 0.5rem;
}

.icon-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    gap: 0.5rem;

}

#icon {
    font-size: 30px;
    color: #e6e326c2;
    margin: 10px;
}

.final p {
    color: whitesmoke;
    text-align: center;
    padding: 1px;
}

/* ---------------
    viwe-button
------------------ */
.view-btn {
    background-color: red;
    border-radius: 5px;
    color: whitesmoke;
    border: none;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: -20px;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}

/* --------------------
-----Media Quaries-----
----------------------- */

/*----- mobile device--- */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .top {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog-section {
        flex-direction: column;
    }

    .btn-group {

        width: 84%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;

    }

    .blog-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .upcoming-matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #width {
        width: 100%;
    }

    .view {
        display: none;
    }

    footer {
        width: 100%;
    }
}